fastapi
uvicorn
pydantic
pydantic-settings
email-validator
SQLAlchemy
alembic
psycopg2-binary
rq
redis
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
google-genai
cryptography